@tailwind base;
@tailwind components;
@tailwind utilities;


.navbarForSmallDevice{
    display: none;
}

@media screen and (max-width: 1024px) {
    .side_menu{
        display: none;
    }
    .customNavbar{
        display: none;
    }
    .navbarForSmallDevice{
        display: flex;
    }
    
}